{% extends "base.html" %}
{% block content %}
<h1>hello!!!</h1>

  {% if code %}

  <pre>
    <code class="line-numbers language-{{lang}}">
    {{code}}
    </code>
  </pre>

  {% else %}

  <pre>
    <code class="line-numbers language-python">
    if today == 'weekend':
        go shopping
    else:
        study with coding
    </code>
  </pre>
  {% endif %}
    <br><br>
    <form method=POST action="{% url 'home' %}">
      {% csrf_token %}
      <div class="mb-3">
        <textarea class="form-control" name="code" 
        placeholder="Enter your code here, A.I. will fix it" rows="3"></textarea>
      </div>
      <select class="form-select" name="lang">
        <option selected>Select Programming Languages</option>
        {% for lang in lang_list %}
        <option value="lang">{{lang}}</option>
        {% endfor %}
      </select>

    <br><br> 
    <button type="submit" class="btn btn-secondary">Submit</button>
    </form>
  



{% endblock %}


