{% extends "base.html" %}
{% block content %}

{% if user.is_authenticated %}

  {% if response %}

  <pre>
    <code class="line-numbers language-{{lang}}">
    {{ response }}
    </code>
  </pre>

  {% else %}

  <pre>
    <code class="line-numbers language-python">
    if today == 'weekend':
        go shopping
    else:
        study with coding
    </code>
  </pre>
  {% endif %}
    <br><br>
    <form method=POST action="{% url 'home' %}">
      {% csrf_token %}
      <div class="mb-3">
        <textarea class="form-control" name="code" 
        placeholder="Enter your code here/questions, A.I. will fix/suggest it" rows="5"></textarea>
      </div>
      <select class="form-select" name="lang">
        <option selected>Select Programming Languages</option>
        {% for lang in lang_list %}
        <option value="lang">{{lang}}</option>
        {% endfor %}
      </select>

    <br><br> 
    <button type="submit" class="btn btn-secondary">Submit</button>
    </form>
  
{% else %}
    
  <div class="col-md-6 offset-md-3">
    <h1>Login</h1>
    <br>
    <form method="POST" action="{% url 'login_user' %}">
      {% csrf_token %}
          <div class="form-group">
              <input type="text" class="form-control"
              placeholder="Enter username" name="username">
          <br></div>

          <div class="form-group">
              <input type="text" class="form-control"
              placeholder="Enter password" name="password">
          <br></div>
          <button type="submit" class="btn btn-secondary">Login</button>
    </form>
  </div>
  {% endif %}
{% endblock %}


